:root {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	background-color: #a9adcc;
}

form {
	width: 100%;
}

nav {
	width: 10vw;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-right: 6px;
}

nav button {
	background-color: #85b0e6;
	width: 100%;
	font-size: 14px;
	padding: 6px;
	border-radius: 0px;
	border-color: #1a1547;
	transition: 0.2s ease;
}

.collapsible {
  cursor: pointer;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #3b5187;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: #354978;
}

nav button:hover {
	background-color: #3b5187;
}

#CreateConnectionBTN {
	font-size: 16px;
	font-weight: bold;
}

.flex {
	display: flex;
	align-content: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.form-input label {
	width: 20%;
}

.form-input input,
.form-input > label {
	font-size: 18px;
}

.form-input {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 12px;
}

.form-btn {
	font-size: 16px;
}

/* Thanks to w3schools */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.modal-header {
	text-align: center;
}

.close {
	color: #aaa;
	float: right;
	cursor: pointer;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
